body{
    margin: 0;
    padding: 0;
    font-size:14px;
    color: #020202;
}

/* 全局可使用的card卡片样式 */
.card {
    background-color: #ffffff;
    border: 1px solid #ebeef5;
    border-radius: 8px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 10px;
}